<div class="container" id="o_nas">
  <div class="row">
    <div class="col-8">
      <div class="content">
        <p class="greet">Serdecznie witamy w pizzerii</p>
        <h2>Fiorentina</h2>
        <p>Rodzinna pizzeria działająca od 1998 roku prowadzona jest przez właścicielkę – Danutę Majewską.</p>
        <p>Oferujemy wspaniałą i niedrogą pizzę.</p>
        <p>Ciasto do jej wykonania wyrabiamy ręcznie, dodatki zawsze są najwyższej jakości, a naszym sekretem jest pyszny pomidorowo-czosnkowy sos nadający naszej pizzy wyjątkowy smak.</p>
        <p>W lokalu panuje miła i przyjemna atmosfera. Dla naszych klientów udostępniamy stół bilardowy.</p>
        <p>Odwiedźcie nas koniecznie.</p>
      </div>
    </div>
    <div class="col-4">
      <img src="../../assets/kucharz.png" alt="">
    </div>
  </div>
</div>
